  .student-grid {
    padding: 20px;
    background-image: url("/public/images/backgroundImage/Growth_Bg.webp");
    min-height: 100vh;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .buttonGroup-container button {
    margin: 0px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .character-item {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.6; /* 선택되지 않은 이미지를 희미하게 만듭니다 */
  }
  
  .character-item:hover,
  .character-item.selected {
    opacity: 1; /* 마우스를 올리거나 선택된 경우 원래 상태로 복구합니다 */
  }
  
  
  .character-item:hover {
    box-shadow: 0 0 0 4px black;
  }
  
  .character-item.selected,
  .character-item.selected:hover {
    box-shadow: 0 0 0 4px #2196f3;
  }
  
  .character-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .character-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px;
    font-size: 12px;
    text-align: center;
  }
  
  .href-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  
  .href-link {
    color: #0066cc;
    text-decoration: none;
    font-size: 18px;
  }
  
  .href-link:hover {
    text-decoration: underline;
  }

  .error-grid {
    background-image: url('https://kth5191.github.io/blueArchive/images/backgroundImage/Growth_Bg.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    height: 100vh;
  }